.main h1 {
  margin: 93px 0 73px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  display: flex;
  align-items: center;
  color: #000000;
}

.main section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  row-gap: 32px;
  column-gap: 26px;
}
