.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 12px;
  width: 326px;
  height: 313px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
}

.author h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.author p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #73778c;
}
